// Transiciones generales
.pavlova, .eclairs, .alfajores, .torta, .pionono, .chocotorta, .cookies, .brownies, .panDulce, .panMasaMadre,
.palitosQueso, .panRelleno, .panRollito, .baguette, .medialunas,
.corazones, .chipa {
    position: relative;
    background: linear-gradient(rgba(26, 26, 24, 0.678), rgb(2, 2, 2), rgba(26, 26, 24, 0.678));
    p {
        font-weight: bold;
        color: $color1;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding-left: 5%;
        padding-right: 5%;
        opacity: 0;
        transition: all 1s;
    }
    a {
        font-weight: bold;
        color: $color1;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        opacity: 0;
        transition: all 1s;
    }
}
.pavlova:hover, .eclairs:hover, .alfajores:hover, .torta:hover, .chocotorta:hover, .cookies:hover,
.pionono:hover, .brownies:hover, .panDulce:hover, .panMasaMadre:hover, .palitosQueso:hover,
.panRelleno:hover, .panRollito:hover, .baguette:hover, .medialunas:hover,
.corazones:hover, .chipa:hover {
    img {
        opacity: 0;
        transform: scale(1.1);
        transition: all 1s;
    }
    p, a {
        opacity: 1;
        transition: all 1s;
    }
}
a:hover {
    color: $color3;
}

// FOOTER

footer {
    img {
        position: relative;
        border: 1px solid black;
        border-radius: 50%;
    }
    .facebook {
        animation-name: color;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    
    .twitter {
        animation-name: color;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
    
    .instagram {
        animation-name: color;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
}



@keyframes color {
    0% {
        background-color: $color2;
    }

    50% {
        background-color: $color1;
    }

    100% {
        background-color: $color2;
    }
}