@import "variables";
@import "./animaciones";

header{
    color: whitesmoke; 
    background-image: url(../images/fondoOscuro.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    height: 100vh;
    nav img{
        width: 200px;
        height: 71px;
    }
    .navbar, .nav-link{
        background-color: $color2;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        color: rgb(255, 255, 255);
        padding: 10px;
        .textoColor:visited{
            color: $color3;
        }
        .textoColor:hover{
            color: $color3;
            background-color: $color2;
        }
        .textoColor:active{
            color: $color3;
        }
        .textoColor{
            background-color: $color2;
            color: $color3;
        }
        
        li a{
            font-family: 'Raleway', sans-serif;
            color: #f5f5f5;
        }
    }
    .flexHeading{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center; 
        justify-content: flex-end;
        align-items: center;

        h1{
            font-family: 'Raleway', serif;
            font-weight: bold;
            font-size: 70px;
            line-height: 60px;
            letter-spacing: 3px;
            word-spacing: 5px;
            padding-top: 255px;
            a{
                list-style-type: none;
                text-decoration: none;
                color: $color1;
                text-shadow: 3px 3px 5px $color2;
                
            }
            a:hover{
                color: $color3;
                text-shadow: 3px 3px 5px $color1;
            }
        }
        .slogan{
            font-family: 'Dancing Script', cursive;
            font-size: 45px;
            line-height: 40px;
            letter-spacing: 3px;
            word-spacing: 5px;
            padding: 50px 0 155px 0;
            text-shadow: 3px 3px 5px $color2;            
        }
    }
}