/* Breakpoints de pantallas (px)*/

/* PC: 
1920
1366 (laptop)
 */

@media screen and (max-width: 1270px) and (min-width: 1031px){
    .primerNovedades{
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, minmax( 100px 300px));
        grid-template-areas: 
        "texto eclairs alfajores"
        "texto pionono pionono"
        "texto panDulce chocotorta"
    ;
    }
    header{
    background-image: url(../images/fondoOscuro.jpg);
    background-repeat: no-repeat;
    background-size: fill;
    }
    .primerPanaderia{
        grid-template-areas: 
        "masaMadre masaMadre palitosQueso palitosQueso "
        "masaMadre masaMadre panRelleno panRelleno "
        "corazones chipa panRelleno panRelleno"
        "panRollito baguette medialunas medialunas"
        ;
        grid-template-columns: repeat(4, minmax( 100px 250px));
        grid-template-rows: repeat(4, minmax( 100px 250px));
    }
    .primerEspecialidades{
        grid-template-areas: 
        "pavlova chocotorta eclairs eclairs"
        "cookies panDulce eclairs eclairs"
        "alfajores brownies torta torta"
        "pionono pionono torta torta"
        ;
        grid-template-columns: repeat(4, minmax( 100px 250px));
        grid-template-rows: repeat(4, minmax( 100px 250px));
    }
    .catering{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "formulario imagen"
        "formulario imagen"
        ;
        gap: 10px;
    }
    .imagenCatering{
        padding-right: 10%;
    }
    .primerEspecialidades, .primerPanaderia{
        .parrafos{
            font-size: 17px;
        }
    }
}

/* Tablet:
1024
720
 */
@media screen and (max-width: 1030px) and (min-width: 866px){
    .flexHeading{
        visibility: hidden;
    }
    .primerNovedades{
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(4, minmax( 100px 300px));
        grid-template-areas: 
        "texto texto"
        "eclairs alfajores" 
        "pionono pionono"
        "panDulce chocotorta"
    ;
    }
    .primerEspecialidades{
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(4, minmax( 100px 300px));
        grid-template-areas: 
        "eclairs eclairs cookies"
        "alfajores pavlova pavlova"
        "chocotorta panDulce brownies"
        "torta pionono pionono"
        ;
    }
    .primerPanaderia{
        grid-template-columns: repeat(3, 280px);
        grid-template-rows: repeat(4, minmax( 100px 300px));
        grid-template-areas: 
        "masaMadre masaMadre palitosQueso"
        "masaMadre masaMadre panRelleno"
        "corazones chipa panRelleno"
        "panRollito baguette medialunas"
        ;
    }
    .catering{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "formulario"
        ;
        gap: 10px;
    }
    .imagenCatering{
        display: none;
    }
    .index{
        p{
            font-size: 20px;
        }
        a{
            font-size: 18px;
        }
    } 
    .primerPanaderia, .primerEspecialidades{
        p, a{
            font-size: 20px;
        }
    }

}
@media screen and (max-width: 865px) and (min-width: 676px){
    .flexHeading{
        visibility: hidden;
    }
    h2{
        font-size: 45px;
    }
    .primerNovedades{
        grid-template-columns: repeat(2, 250px);
        grid-auto-rows: 300px;
        grid-template-areas: 
        "texto texto"
        "eclairs alfajores"
        "pionono pionono"
        "panDulce chocotorta"
        ;
    }
    .primerPanaderia{
        grid-template-areas: 
        "masaMadre masaMadre"
        "baguette baguette"
        "palitosQueso chipa"
        "panRelleno panRelleno"
        "corazones corazones"
        "panRollito medialunas"
        ;
        grid-template-columns: repeat(2, 250px);
        grid-auto-rows: 300px;
    }
    .primerEspecialidades{
        grid-template-areas: 
        "eclairs eclairs"
        "cookies alfajores"
        "chocotorta torta"
        "pionono pionono"
        "panDulce brownies"
        "pavlova pavlova"
        ;
        grid-template-columns: repeat(2, 250px);
        grid-auto-rows: 300px;
    }
    .iframe{
        padding-right: 25px;
        padding-left: 10%;
    }
    .catering{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "formulario"
        ;
        gap: 10px;
    }
    input{
        width: 100%;
    }
    .imagenCatering{
        display: none;
    }  
    .primerPanaderia, .primerEspecialidades{
        p, a{
            font-size: 19px;
        }
    }
}
/* Celular:
420
360
 */
@media screen and (max-width: 675px){
    .flexHeading{
        visibility: hidden;
    }
    .texto{
        h2{
            font-size: 35px;
            padding-top: 100px;
        }
        p{
            font-size: 20px;
        }
    }
    .imagen{
        width: 275px;
    }
    .primerNovedades{
        justify-items: start;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 200px;
        grid-template-areas: 
        "texto texto"
        "texto texto"
        "eclairs alfajores"
        "pionono pionono"
        "panDulce chocotorta"
    ;
    }
    .primerPanaderia{ 
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "masaMadre masaMadre"
        "baguette chipa"
        "palitosQueso palitosQueso" 
        "panRelleno panRelleno"
        "panRollito corazones"
        "medialunas medialunas"
        ;
    }
    .primerEspecialidades{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "eclairs cookies"
        "alfajores alfajores"
        "chocotorta torta" 
        "pionono pionono"
        "brownies panDulce"
        "pavlova pavlova"
        ;
    }
    .iframe{
        width: 270px;
        height: 150px;
        padding-left: 5px;
    }
    
    .catering{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas: 
        "formulario"
        ;
        gap: 10px;
    }    
    .imagenCatering{
        display: none;
    }
    .index, .primerPanaderia, .primerEspecialidades{
        p, a{
            font-size: 12px;
        }
    }
}